<container>
    <row class="bg__blue">
        <columns small="6" large="6">
            <spacer size="35"></spacer>
            <img src="https://docs.vindi.com.br/l/791943/2020-09-25/3xzx4/791943/46209/alert_icon.png" alt=""
                class="alert__icon">
        </columns>
        <columns small="6" large="6">
            <spacer size="35"></spacer>
            <img src="https://storage.pardot.com/791943/23252/Logo_Vindi_2020_white.svg" alt=""
                class="logo__vindi imagens__header">
        </columns>
    </row>
    <row class="bg__blue">
        <columns small="12" large="12">
            <spacer size="35"></spacer>
            <p class="title">Alerte seus clientes <br> sobre possíveis <span class="color__orange">fraudes <br>no boleto
                    bancário</span></p>
            <spacer size="35"></spacer>
            <p class="subtitle__desc">A Vindi tem uma grande preocupação quando o assunto é segurança! Por isso,
                elaboramos este conteúdo com
                algumas dicas para você ajudar seu cliente a identificar possíveis fraudes em boletos. Pode parecer um
                e-mail longo, mas é essencial que você leia até o fim!</p>
            <spacer size="10"></spacer>
            <p class="subtitle__desc"><span class="color__orang">Vamos lá?</span></p>
            <spacer size="20"></spacer>
        </columns>
    </row>

    <row class="bg__rose">
        <columns small="12" large="12">
            <spacer size="35"></spacer>
            <p class="title">Atenção em cada detalhe do boleto</p>
            <spacer size="35"></spacer>

            <div class="border__blue">
                <p class="avisos">1 - Atenção ao e-mail que disparou o boleto. Todos os <br> boletos da Vindi são
                    enviados através do domínio vindi.com.br.</p>
            </div>
            <spacer size="30"></spacer>
            <div class="border__blue">
                <p class="avisos">2 - Os valores do código do banco e o início do código digitável, devem ser sempre
                    iguais.</p>
            </div>
            <spacer size="35"></spacer>
            <img src="https://docs.vindi.com.br/l/791943/2020-09-25/3xzx6/791943/46211/boleto1.png" alt=""
                class="boleto1">
            <spacer size="35"></spacer>

            <div class="border__blue">
                <p class="avisos">3 - O valor (R$) do boleto e os últimos dígitos do código digitável, devem ser iguais.
                </p>
            </div>

            <spacer size="35"></spacer>
            <img src="https://docs.vindi.com.br/l/791943/2020-09-25/3xzx8/791943/46213/boleto2.png" alt=""
                class="boleto2">
            <spacer size="35"></spacer>

            <div class="border__blue">
                <p class="avisos">4 - Desconfie se o boleto tiver alguma informação não legível, como uma parte borrada,
                    desfocada ou desalinhada.</p>
            </div>
            <spacer size="30"></spacer>

            <div class="border__blue">
                <p class="avisos">5 - Analise o código de barras, veja se existe algum problema de leitura, ou apresenta
                    falhas na sua construção.</p>
            </div>
            <spacer size="35"></spacer>

            <img src="https://docs.vindi.com.br/l/791943/2020-09-25/3xzxd/791943/46215/boleto3.png" alt=""
                class="boleto3">
            <spacer size="55"></spacer>
        </columns>
    </row>

    <row class="bg__blue">
        <columns small="12" large="12">
            <spacer size="35"></spacer>
            <p class="title__dicas text-center">Outras dicas relevantes</p>
            <spacer size="35"></spacer>
        </columns>
    </row>

    <row class="bg__blue">
        <columns small="12" large="1" class="large-offset-1">
            <img class="small-float-right dot"
                src="https://docs.vindi.com.br/l/791943/2020-09-25/3y11q/791943/46229/dot.png" alt="">
        </columns>
        <columns small="12" large="11">
            <p class="small-text-center desc__dicas">Para boletos recorrentes, a alteração do valor deve <br> ser
                comunicada com um aviso
                prévio;</p>
            <spacer size="30"></spacer>
        </columns>
    </row>

    <row class="bg__blue">
        <columns small="12" large="1" class="large-offset-1">
            <img class="small-float-right dot"
                src="https://docs.vindi.com.br/l/791943/2020-09-25/3y11q/791943/46229/dot.png" alt="">
        </columns>
        <columns small="12" large="11">
            <p class="small-text-center desc__dicas">Atenção para produtos com valores abaixo do
                mercado. Pessoas mal intencionadas utilizam este <br>
                tipo de estratégia para ludibriar os compradores;</p>
            <spacer size="30"></spacer>
        </columns>
    </row>

    <row class="bg__blue">
        <columns small="12" large="1" class="large-offset-1">
            <img class="small-float-right dot"
                src="https://docs.vindi.com.br/l/791943/2020-09-25/3y11q/791943/46229/dot.png" alt="">
        </columns>
        <columns small="12" large="11">
            <p class="small-text-center desc__dicas">Computadores devem ser sempre atualizados e com
                um bom antivírus, pois existem malwares que se
                instalam em máquinas e trocam os dados bancários
                para dados de fraudadores. </p>
            <spacer size="55"></spacer>
        </columns>
    </row>

    <row class="bg__rose">
        <columns small="12" large="12">
            <spacer size="35"></spacer>
            <p class="title">E tem mais!</p>
            <spacer size="35"></spacer>

            <p class="desc__mais">A Vindi é uma empresa autônoma e não está vinculada
                com nenhuma outra empresa de pagamento. Nas
                informações do boleto, a cobrança deve conter o nome
                da empresa vendedora e da Vindi. Se houver o nome
                de mais de uma empresa de pagamentos, este boleto é
                suspeito. </p>
            <spacer size="30"></spacer>

            <p class="desc__mais">Se houver dúvidas sobre a procedência do Boleto Vindi, <br>
                entre em contato imediatamente através dos canais
                oficiais.</p>
            <spacer size="40"></spacer>
        </columns>
    </row>


    <row class="bg__rose redes__sociais">

        <columns small="3" large="3">
            <a href="https://www.facebook.com/VindiBR/" target="_blank">
                <img src="https://docs.vindi.com.br/l/791943/2020-09-25/3xzxg/791943/46219/facebook.png" alt="" class="text-center">
            </a>
        </columns>

        <columns small="3" large="3">
            <a href="https://www.instagram.com/vindibr/" target="_blank">
                <img src="https://docs.vindi.com.br/l/791943/2020-09-25/3xzxj/791943/46221/instagram.png" alt="" class="text-center">
            </a>
        </columns>

        <columns small="3" large="3">
            <a href="https://twitter.com/vindi" target="_blank">
                <img src="https://docs.vindi.com.br/l/791943/2020-09-25/3xzxl/791943/46223/twitter.png" alt="" class="text-center">
            </a>
        </columns>

        <columns small="3" large="3">
            <a href="https://vindi.com.br/contato/" target="_blank">
                <img src="https://docs.vindi.com.br/l/791943/2020-09-25/3xzxb/791943/46217/v_vindi.png" alt="" class="text-center">
            </a>
        </columns>

    </row>

    <row class="bg__rose">
        <columns small="12" large="12">
            <spacer size="40"></spacer>
            <p class="desc__mais">E, para finalizar, sempre desconfie de cobranças não
                solicitadas! </p>
                <spacer size="40"></spacer>
        </columns>
    </row>


</container>