<container>
    <row style="background-color: #10004f ;">
      <columns small="10" large="3" style="padding-top: 16px;">
        <a href="https://www.pontosmultiplus.com.br/portal/" class="footer-buttons" target="_blank">
          &nbsp;&nbsp;&nbsp;<img src="https://www.pontosmultiplus.com.br/images/latampass/email/minha-conta.png" style="display: initial; vertical-align: middle;">
          <span style="vertical-align: middle;">&nbsp;&nbsp;Minha Conta</span>
        </a>
        <spacer size="5"></spacer>
      </columns>
      <columns small="2" large="3" style="padding-top: 16px;">
        <spacer size="10"></spacer>
        <img src="https://www.pontosmultiplus.com.br/images/latampass/email/seta.png" style="display: initial; vertical-align: middle;">
      </columns>
    </row>

    <row style="background-color: #10004f ;">
      <columns small="10" large="3" style="padding-top: 16px;">
        <a href="https://helpdesk.latam.com/hc/pt-br" class="footer-buttons" target="_blank">
          &nbsp;&nbsp;&nbsp;<img src="https://www.pontosmultiplus.com.br/images/latampass/email/ajuda.png" style="display: initial; vertical-align: middle;">
          <span style="vertical-align: middle;">&nbsp;&nbsp;Ajuda e Suporte</span>
        </a>
        <spacer size="15"></spacer>
      </columns>
      <columns small="2" large="3" style="padding-top: 16px;">
        <spacer size="10"></spacer>
        <img src="https://www.pontosmultiplus.com.br/images/latampass/email/seta.png" style="display: initial; vertical-align: middle;">
      </columns>
    </row>

  
    <row style="background-color: white ;">
      <columns small="6" large="4" style="padding-top: 16px;padding-left: 15px;">
        <span class="text-right" style="display: block;">
        <a href="http://www.latampass.com" target="_blank" style="display: inline;">
          <img src="https://www.pontosmultiplus.com.br/images/latampass/email/logo.png">
        </a>
        </span>
        <spacer size="15"></spacer>
      </columns>
      <columns small="6" large="2" style="padding-top: 16px;">
        <span class="text-right" style="display: block;">
          <a href="https://www.latampass.com/facebook/" target="_blank">
            <img src="https://www.pontosmultiplus.com.br/images/latampass/email/facebook.png" style="display: inline;">
          </a>
          <a href="https://www.latampass.com/instagram/" target="_blank">
            <img src="https://www.pontosmultiplus.com.br/images/latampass/email/instagram.png" style="display: inline;">&nbsp;&nbsp;&nbsp;
          </a>
        </span>
      </columns>
      <columns small="12" large="5" style="padding-top: 16px;">
        <span class="small-text-left text-right" style="display: block;">
          <a href="#">
            <img src="https://www.pontosmultiplus.com.br/images/latampass/email/google.png" style="display: inline;">
          </a>
          <a href="#">
            <img src="https://www.pontosmultiplus.com.br/images/latampass/email/apple.png" style="display: inline;">&nbsp;&nbsp;&nbsp;
          </a>
        </span>
      </columns>
    </row>
    <row style="background-color: #eeeeee ;">
      <columns style="padding-top: 16px;padding-left: 15px;padding-right: 15px;">
        <p class="texto-legal">
          © 2019 LATAM Airlines Group S.A. - Todos os direitos reservados. CNPJ nº 02.012.862/0001-60 Rua Verbo Divino nº 2.001, 10º andar, Chácara Santo Antônio, São Paulo, SP, CEP 04.719-002, Brasil.
          <br/><br/>
          Por favor não responda a esse email.<br/>
          Para mais informações, visite <a href="https://www.latampass.com">wwww.latampass.com</a> <br/>
        </p>
      </columns> 
    </row>
  </container>
  <!-- FIM DO FOOTER -->