<container>

    <row>
      <columns small="12" large="12">
        <p class="visualizar text-center"><a href="%%view_email_url%%" target="_blank">Visualize no navegador</a></p>
      </columns>
    </row>
  
    <row class="azul-latam">
      <columns small="1" large="0" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</columns>
      <columns small="7" large="7">
        <spacer size="22"></spacer>
        <a href="https://www.pontosmultiplus.com.br/home" target="_blank"><img src="http://image.emailpontosmultiplus.com.br/lib/fe9013727561027477/m/48/logo-header-27-09.png" alt=""> &nbsp;&nbsp;&nbsp;<span><img src="http://image.emailpontosmultiplus.com.br/lib/fe9013727561027477/m/48/gold-plus.png" alt=""></span></a>
        <spacer size="24"></spacer>
      </columns>
      <columns small="3" large="5">
        <spacer size="24"></spacer>
        <img class="oneworld" src="http://image.emailpontosmultiplus.com.br/lib/fe9013727561027477/m/48/logo_oneworld.png" alt="">
        <spacer size="24"></spacer>
      </columns>
      <columns small="1" large="0" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</columns>
    </row>
  
    <row class="background-white"> 
      <columns small="12" large="12">
        <spacer size="10"></spacer>
          <p class="sub-title-16">%%NM_Participante%%, você tem <span>%%VL_Saldo%% pontos</span> <a href="%%=RedirectTo(v(@LINK_CB_SEUEXTRATO))=%%" target="_blank">Ver extrato</a></p>
        <spacer size="10"></spacer>
      </columns>
      <columns small="1" large="0">&nbsp;&nbsp;&nbsp;</columns>
    </row>
  
  
  </container>