<container>

  <row>
    <columns small="12" large="12">
      <p class="visualizar text-center"><a href="%%view_email_url%%" target="_blank">Visualize no navegador</a></p>
    </columns>
  </row>

  <row class="azul-latam">
    <columns small="1" large="0" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</columns>
    <columns small="5" large="6">
      <spacer size="22"></spacer>
      <a href="https://www.pontosmultiplus.com.br/home" target="_blank"><img src="http://image.emailpontosmultiplus.com.br/lib/fe9013727561027477/m/48/logo-header-27-09.png" alt=""> &nbsp;&nbsp;&nbsp;<span><img src="http://image.emailpontosmultiplus.com.br/lib/fe9013727561027477/m/49/logo-black-signature.png" alt=""></span></a>
      <spacer size="24"></spacer>
    </columns>
    <columns small="5" large="6">
      <spacer size="24"></spacer>
      <img class="oneworld" src="http://image.emailpontosmultiplus.com.br/lib/fe9013727561027477/m/48/logo_oneworld.png" alt="">
      <spacer size="24"></spacer>
    </columns>
    <columns small="1" large="0" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</columns>
  </row>

  <row class="azul-latam">
    <columns small="12" large="12">
      <p class="title-16-latam">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Olá, %%NM_Participante%% seus pontos LATAM Pass em 17/10/2019:</p>
    </columns>
  </row>

  <row class="azul-latam">
    <columns small="12" large="12">
      <spacer size="20"></spacer>
      <p class="title-43-latam">&nbsp;&nbsp;<img src="http://image.emailpontosmultiplus.com.br/lib/fe9013727561027477/m/49/porco-vermelho.png" alt=""> %%VL_Saldo%%</p>
      <p class="link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.pontosmultiplus.com.br/portal/" target="_blank">Veja mais</a></p>
      <spacer size="20"></spacer>
      <p class="title-16-latam">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LATAM Pass %%NR_Multiplus%%</p>
      <spacer size="20"></spacer>
    </columns>
  </row>

  <row class="rosa-latam">
    <columns small="7" large="4">
      <spacer size="10"></spacer>
      <p class="title-14-latam">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Movimentações em setembro</p>
      <spacer size="10"></spacer>
    </columns>
    <columns small="5" large="8">
      <spacer size="10"></spacer>
      <p class="title-14-latam text-center">Pontos a vencer</p>
      <spacer size="10"></spacer>
    </columns>
  </row>

  <row class="bg-cinza">
    <columns small="6" large="4">
      <spacer size="5"></spacer>
      <p class="title-18-latam text-center">%%TT_Pts_Resgate_MesAnterior%%  <span> pontos resgatados</span><img src="http://image.emailpontosmultiplus.com.br/lib/fe9013727561027477/m/49/linha-latam.png" alt=""><br>
        %%TT_Pts_Acumulado_MesAnterior%%  <span> pontos acumulados</span></p>
      <spacer size="5"></spacer>
    </columns>
    <columns small="8" large="6">
      <spacer size="5"></spacer>
      <p class="title-18-latam">&nbsp;&nbsp;&nbsp;%%Extra_7%% <span class="title-black">pontos em até 6 meses</span></p>
      <p class="title-18-latam">&nbsp;&nbsp;&nbsp;<span class="title-black">Primeira pontuação a vencer em %%Ref_Anomes_Exp%%</span></p>
    </columns>
    <columns small="4" large="2" valign="middle">
      <p class="botao"><a href="https://www.pontosmultiplus.com.br/portal/" target="blank">Minha conta</a></p>
    </columns>
  </row>

</container>